@use 'var' as v;

.profile {
    background-color: v.$l_gray;

    &__navigator {
        display: flex;
        flex-direction: column;
        font-size: 28px;
        gap: 20px;
        text-decoration: none;

        .profile-link {
            font-family: v.$ibm;
            border-radius: 15px;
            padding: 10px;
            transition: all 1s;
        }

        .profile-link:hover {
            background-color: v.$vl_gray;
        }

        .selected {
            border-bottom: red;
        }
    }
}