$pt: "Roboto", sans-serif;
$ibm: "Open Sans", sans-serif;
$audio: "Libre Baskerville", serif;

$black: #201520;
$white: #ffffff;
$l_purple: #a881af;
$purple: #80669d;
$red: #ED0800;
$d_red: #8B0000;
$d_yellow: #ffbd03;
$yellow: #FCF55F;
$d_green: #5dbea3;
$green: #33b249;
$l_green: #5adbb5;
$d_blue: Hex #4681f4;
$blue: #5783db;
$l_blue: #55c2da;
$gray: #808080;
$d_gray: #727272;

$xl: 1400px;
$l: 992px;
$m: 768px;
$s: 420px;
$xs: 240px;